.nav-item .nav-link {
  color: rgb(255, 255, 255);
}

.nav-item .nav-link:hover {
  color: rgb(179, 176, 176);
}

.james {
  height: 100vh;
  background-image: url("./images/james.bg.jpg");
  background-size: cover;
  background-position: 60% 0%;
  background-attachment: fixed;
}

#skills i {
  height: 100px;
  width: 100px;
}

#portfolio img {
  height: 300px;
  object-fit: cover;
}

#about img,
#about .next-hire h2 {
  width: 140px;
}

#about .next-hire h2 {
  height: 140px;
}

#about .img,
#about img,
.next-hire h2 {
  position: relative;
}

#about .img::before {
  content: "";
  position: absolute;
  background: rgb(247, 244, 244);
  width: 4px;
  left: 50%;
  height: calc(100% + 98px);
}

#cv img {
  width: 230px;
}

.social-icons a {
  width: 40px;
  height: 40px;
}

#contact {
  background-image: url("./images/contact.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

footer .social-icons a {
  width: 30px;
  height: 30px;
}

.portfolio-menu {
  position: fixed;
  background-color: #f1f1f1;
  padding: 20px;
  width: 250px;
  z-index: 1000;
  left: -9px;
}

.portfolio-menu input[type="text"],
.portfolio-menu input[type="number"],
.portfolio-menu select {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.portfolio-menu .price-range {
  display: flex;
  align-items: center;
}

.portfolio-menu .buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.portfolio-menu button {
  background-color: #3891f0;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  padding: 5px;
}

hr {
  border: 1px dotted rgb(116, 99, 99);
  margin-top: 15px;
}

.portfolio-menu button:hover {
  background-color: #0056b3;
}

.details img {
  width: 60px;
  height: 60px;
}

.portfolio-toggle-btn {
  z-index: 1001;
}

.portfolio-toggle-btn button {
  background-color: white;
  color: #0e0a0a;
  border-radius: 4px;
  cursor: pointer;
  position: fixed;
}

.cart-box {
  position: fixed;
  overflow: scroll;
  right: -100%;
  width: 80%;
  height: 100%;
  background-color: #f9f8f8;
  transition: right 0.5s ease;
  z-index: 1000;
}

.cart-box.open {
  right: 0;
}

@media (max-width: 767px) {
  .cart-box {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .cart-box {
    width: 80%;
  }
}